<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/slicknav.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/progressbar_barfiller.css" />
    <link rel="stylesheet" href="/css/gijgo.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/animated-headline.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/slick.css" />
    <link rel="stylesheet" href="/css/nice-select.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <!-- ? Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="/img/logo/loder.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start-->

    <main class="login-body" data-vide-bg="/img/login-bg.mp4">
      <!-- Login Admin -->
      <form class="form-default" action="/login" method="POST">
        <div class="login-form">
          <!-- logo-login -->
          <div class="logo-login">
            <a href="/"><img src="/img/logo/loder.png" alt="" /></a>
          </div>
          <h2>Login Here</h2>
          <div class="form-input">
            <label for="name">Email</label>
            <input type="email" id="email" name="email" value="<%=userId%>" placeholder="Email" />
          </div>
          <div class="form-input">
            <label for="name">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" />
          </div>

            <div class="form-input pt-30">
              <label for="name">Email 저장</label>
              <input type="checkbox" id="rememberId" value="checked" name="rememberId">
            </div>

          <div class="form-input pt-30">
            <input type="submit" id="login_submit" name="login_submit" value="login" />
          </div>

          <!-- Forget Password -->
          <a href="#" class="forget">Forget Password</a>
          <!-- Forget Password -->
          <a href="/register" class="registration">Registration</a>
        </div>
      </form>
      <!-- /end login form -->
    </main>
    
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/js/jquery.slicknav.min.js"></script>

    <!-- Video bg -->
    <script src="/js/jquery.vide.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="/js/wow.min.js"></script>
    <script src="/js/animated.headline.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <script>
      var main = {
        init : function () {
            var _this = this;
            $('#login_submit').on('click', function () {
                _this.login_submit();
            });
        },
        login_submit : function () {
          var data = {
            email: $('#email').val(),
            password: $('#password').val(),
            rememberId: $('input:checkbox[id="rememberId"]').val()
          };

          var data_json = JSON.stringify(data);
    
          $.ajax({
            url: 'http://localhost:8080/login',
            type: 'POST',
            contentType:'application/json; charset=utf-8',
            data: data_json
          }).done(function(data){
            if(data.msg == 'success'){
              alert(data.user + '님 환영합니다.');
              window.location.href = '/';
            } else if(data.msg == '비밀번호틀림'){
              alert("비밀번호가 올바르지 않습니다.");
              window.location.href = '/loginpage';
            } else if(data.msg == '아이디틀림'){
              alert("아이디가 올바르지 않습니다.");
              window.location.href = '/loginpage';
            } else if(data.msg == '값이빔'){
              alert("값을 모두 입력해주세요");
              window.location.href = '/loginpage';
            }
          }).fail(function(data){
            alert("로그인 실패");
            window.location.href = '/loginpage';
          });
        }
    };
    main.init();
    </script>
    
  </body>
</html>
